# EditorConfig создан, чтобы обеспечить использование единообразного стиля написания кода
# всеми разработчиками, работающими с базой кода.

# Параметры из файла .editorconfig применяются к любому новому коду, который вы напишете,
# но уже существующий код для согласования с новыми параметрами может потребовать переформатирования.

# Если вы работаете с проектом или решением, которое уже содержит файл .editorconfig,
# то для применения параметров может потребоваться установка
# дополнительного плагина для взаимодействия с файлом.
# Например для VSCode существует плагин "EditorConfig for VS Code"
# Более подробную информацию касательно поддержки можно получить на официальном сайте
# https://editorconfig.org/#pre-installed

# делает файл editorconfig основным
root = true

### Для файлов с расширением .md (markdown files)
[*.md]

# Позволяет устанавливать в markdown файлах более двух пробелов
trim_trailing_whitespace = false

### для всех типов файлов
[*]

# задает кодировку файка по умолчанию
charset = utf-8

# выбирает тип при нажатии на tab или форматировании
# тип укажем пробел
indent_style = space

# указывет какой должен быть пробел при табуляции
# укажем двойной пробел
indent_size = 2

# нормализация окончания строк
end_of_line = lf

# задает автоматическое управление окончанием строк
trim_trailing_whitespace = true

# указывает, что файл должен заканчиваться пустой строкой
insert_final_newline = true
