# делает фаил editorconfig основным
root = true

### Для файлов с расширением .md (markdown files)
[*.md]

# Позволяет устанавливать в markdown файлах более двух пробелов
trim_trailing_whitespace = false

### для всех типов файлов
[*]

# задает кодировку файка по умолчанию
charset = utf-8

# выбирает тип при нажатии на tab или форматировании
# тип укажем пробел
indent_style = space

# укажзывет какой должен быть пробел при табуляции
# укажем двойной пробел
indent_size = 2

# нормализация окончания строк
end_of_line = lf

# задает автоматическое управление окончанием строк
trim_trailing_whitespace = true

# указывает, что файл должен заканчиваться пустой строкой
insert_final_newline = true
